name: Build & test release
on:
  push:

jobs:
  build_darwin:
    name: Build darwin-${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        arch: [aarch64]
    runs-on: ${{ matrix.arch == 'amd64' && 'macos-15-intel' || 'macos-14' }}
    steps:
    - name: Clone TruffleRuby
      uses: actions/checkout@v4
    - name: Setup system Ruby
      uses: ruby/setup-ruby@v1
    - name: Setup jt
      run: echo "$PWD/bin" >> $GITHUB_PATH
    - uses: ./.github/actions/setup-jvmci-graal

    - run: jt build_release_archives
